[Desktop Entry]
Type=Application
X-Nemo-Application-Type=generic
Icon=harbour-mdviewer
Exec=qt-runner /usr/bin/harbour-mdviewer
Name=Markdown Viewer
MimeType=text/markdown

[X-Sailjail]
Sandboxing=Disabled
